.lead__title {
    max-width: 720px;
    width: 100%;
    margin: 56px auto 0;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        margin: 48px auto 0;
        width: calc(100% - 24px);
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        width: calc(100% - 32px);
        font-size: 40px;
        line-height: 44px;
    }
}