.cover__lens {
    background-image: url('../../../assets/images/__background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 1;
    box-sizing: border-box;
    min-height: 740px;
}

.cover__lens::after {
    content: '';
    position: absolute;
    background: #2a2c2f;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
    transition: 0.3s;
}

.cover__lens:hover::after {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__lens {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__lens {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__lens {
        min-height: 200px;
    }
}